*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home{
    background-image: url(https://www.superherodb.com/pictures2/portraits/10/100/10398.jpg);
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

