
header {
    background-color: aqua;
    padding: 10px;
    height: 10%;
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}